## Append Weekend and Weekday Files

### Let's import packages

In [19]:
import pandas as pd

### Let's read in the weekend and weekday search result files

In [20]:
weekends = pd.read_csv('data_for_viz/weekends.csv')
weekdays = pd.read_csv('data_for_viz/weekdays.csv')

### Merge the files to calculate a total occupancy rate for each listing

In [21]:
weekends = pd.merge(weekends, weekdays[['ID', 'occupancy count']], on = 'ID', how = 'left')

In [22]:
weekends['total occ'] = weekends['occupancy count_x'] + weekends['occupancy count_y']
weekends['total occ rate'] = (52 - weekends['occupancy count_x'] - weekends['occupancy count_y']) / 52
weekends = weekends.rename(columns = {'occupancy count_x': 'weekend occ', 'occupancy count_y': 'weekday occ', 'occupancy rate': 'weekend occ rate'})
weekends = weekends.drop_duplicates(subset = ['ID', 'checkin'], keep = 'first')

weekends.shape

(58674, 27)

In [23]:
weekdays = pd.read_csv('data_for_viz/weekdays.csv')
weekdays = pd.merge(weekdays, weekends[['ID', 'weekend occ']], on = 'ID', how = 'left')

In [24]:
weekdays['total occ'] = weekdays['occupancy count'] + weekdays['weekend occ']
weekdays['total occ rate'] = (52 - weekdays['weekend occ'] - weekdays['occupancy count']) / 52
weekdays = weekdays.rename(columns = {'occupancy count': 'weekday occ', 'occupancy rate': 'weekday occ rate'})
weekdays = weekdays.drop_duplicates(subset = ['ID', 'checkin'], keep = 'first')

weekdays.shape

(62348, 27)

### Append the files and drop the old index

In [25]:
frames = [weekends, weekdays]
six_months = pd.concat(frames).drop(columns = 'Unnamed: 0')
#six_months.head()

,ID,name,category,privacy,superhost,url,avg_stars,review_count,guests,beds,...,current_nightly,total cost,room_fee,taxes_fees_cleaning,weekend occ,weekend occ rate,weekday occ,total occ,total occ rate,weekday occ rate
982195,27926507,Two SANITIZED Luxury Lofts at The Waverly,Entire apartment in Nashville,Entire,SUPERHOST,/rooms/27926507?check_in=2021-06-13&check_out=...,NaN,NaN,12,6,...,629,3191,2516,675,11.0,NaN,24.0,35.0,0.326923,0.076923
982206,42277394,FIVE Queen Rooms! •Motel• 4miles from Downtown!,Room in boutique hotel in Nashville,Private,SUPERHOST,/rooms/42277394?check_in=2021-06-13&check_out=...,NaN,NaN,16,10,...,739,3374,2956,418,17.0,NaN,24.0,41.0,0.211538,0.076923
982223,32379008,"Beautiful, New Construction, Close To Everyth...",Entire house in Nashville,Entire,NaN,/rooms/32379008?check_in=2021-06-13&check_out=...,NaN,NaN,12,5,...,1000,4565,4000,565,11.0,NaN,26.0,37.0,0.288462,0.000000
982234,27927058,3 or More SANITIZED Units @ Waverly in 12th S...,Entire apartment in Nashville,Entire,SUPERHOST,/rooms/27927058?check_in=2021-06-13&check_out=...,NaN,NaN,16,16,...,1500,6847,6000,847,10.0,NaN,26.0,36.0,0.307692,0.000000
982244,34205566,Home Sweet Home where it’s cozy,Entire condominium in Nashville,Entire,NaN,/rooms/34205566?check_in=2021-06-13&check_out=...,NaN,NaN,1,1,...,1200,5478,4800,678,10.0,NaN,26.0,36.0,0.307692,0.000000

In [26]:
six_months.shape

(121022, 27)

### Save to csv

In [27]:
six_months = six_months.to_csv('data_for_viz/six_months.csv')

### Visualize it!