## Append Weekend and Weekday Files

### Let's import packages

In [1]:
import pandas as pd

### Let's read in the weekend and weekday search result files

In [2]:
weekends = pd.read_csv('data_for_viz/weekends.csv')
weekdays = pd.read_csv('data_for_viz/weekdays.csv')

### Merge the files to calculate a total occupancy rate for each listing

In [3]:
weekends = pd.merge(weekends, weekdays[['ID', 'occupancy count']], on = 'ID', how = 'left')

In [4]:
weekends['total occ'] = weekends['occupancy count_x'] + weekends['occupancy count_y']
weekends['total occ rate'] = round(((52 - weekends['occupancy count_x'] - weekends['occupancy count_y']) / 52), 2)
weekends = weekends.rename(columns = {'occupancy count_x': 'weekend occ', 'occupancy count_y': 'weekday occ', 'occupancy rate': 'weekend occ rate'})
weekends = weekends.drop_duplicates(subset = ['ID', 'checkin'], keep = 'first')

weekends.shape

(58674, 27)

In [5]:
weekdays = pd.read_csv('data_for_viz/weekdays.csv')
weekdays = pd.merge(weekdays, weekends[['ID', 'weekend occ']], on = 'ID', how = 'left')

In [6]:
weekdays['total occ'] = weekdays['occupancy count'] + weekdays['weekend occ']
weekdays['total occ rate'] = round(((52 - weekdays['weekend occ'] - weekdays['occupancy count']) / 52), 2)
weekdays = weekdays.rename(columns = {'occupancy count': 'weekday occ', 'occupancy rate': 'weekday occ rate'})
weekdays = weekdays.drop_duplicates(subset = ['ID', 'checkin'], keep = 'first')

weekdays.shape

(62348, 27)

### Append the files and drop the old index

In [7]:
frames = [weekends, weekdays]
six_months = pd.concat(frames).drop(columns = 'Unnamed: 0').reset_index(drop=True)
six_months.head(2)

,ID,name,category,privacy,superhost,url,avg_stars,review_count,guests,beds,...,current_nightly,total cost,room_fee,taxes_fees_cleaning,weekend occ,weekend occ rate,weekday occ,total occ,total occ rate,weekday occ rate
0,46779266,NC5 The Joint!! Downtown Nashville Studio!,Entire apartment in Nashville,Entire,NaN,/rooms/46779266?check_in=2020-12-17&check_out=...,NaN,NaN,6,2,...,55,245,165,80,12.0,0.538462,10.0,22.0,0.58,NaN
1,35440277,"Brand-New Condo, 2 Blocks to Centennial Park",Entire apartment in Nashville,Entire,NaN,/rooms/35440277?check_in=2020-12-17&check_out=...,4.64,14.0,4,2,...,58,329,174,155,23.0,0.115385,26.0,49.0,0.06,NaN

In [8]:
six_months.shape

(121022, 27)

### Save to csv

In [9]:
six_months = six_months.to_csv('data_for_viz/six_months.csv')

### Visualize it!