## Clean Raw Data Scraped from Airbnb's Site

### Import packages

In [620]:
import os
import pandas as pd

### Read in the files from the search folder

In [621]:
results = os.listdir('search/')
#results

### Open the files and add the dates of the search performed to each file

In [622]:
open_file = pd.read_csv('search/'+results[0])
open_file['dates'] = str(results[0])
weekends = open_file.head(0)

In [623]:
for file in results: 
    open_file = pd.read_csv('search/'+file)
    open_file['dates'] = str(file)
    weekends = weekends.append(open_file)

In [624]:
weekends.reset_index(drop = True)
weekends.head(1)

,name,nightly cost,category,superhost,url,guests_rental,total cost,reviews,dates
0,NC5 The Joint!! Downtown Nashville Studio!,Price:$55 / night,Entire apartment in Nashville,NaN,/rooms/46779266?check_in=2020-12-17&check_out=...,6 guests · Studio · 2 beds · 1 bath,Price:$245 totalShow details,Price:$55 / nightPrice:$245 totalShow details,ci2020-12-17co2020-12-20.csv

### Create columns for checkin and checkout dates

In [625]:
# new data frame with split value columns 
dates = weekends['dates'].str.split('co', n = 1, expand = True)
weekends['checkin'] = dates[0] 
weekends['checkout'] = dates[1]
#weekends.head()

In [626]:
weekends['checkin'] = weekends['checkin'].str.replace('ci','')
weekends['checkout'] = weekends['checkout'].str.replace('.csv','')
weekends.drop('dates', axis=1, inplace=True)
#weekends.head()

,name,nightly cost,category,superhost,url,guests_rental,total cost,reviews,checkin,checkout
0,NC5 The Joint!! Downtown Nashville Studio!,Price:$55 / night,Entire apartment in Nashville,NaN,/rooms/46779266?check_in=2020-12-17&check_out=...,6 guests · Studio · 2 beds · 1 bath,Price:$245 totalShow details,Price:$55 / nightPrice:$245 totalShow details,2020-12-17,2020-12-20
1,"Brand-New Condo, 2 Blocks to Centennial Park",Previous price:$122Discounted price:$58 / night,Entire apartment in Nashville,NaN,/rooms/35440277?check_in=2020-12-17&check_out=...,4 guests · 1 bedroom · 2 beds · 1 bath,Price:$329 totalShow details,Rating 4.64 out of 5;4.6414 reviews (14)Previo...,2020-12-17,2020-12-20
2,DOWNTOWN NASHVILLE - COMFY & COZY (C),Price:$63 / night,Entire apartment in Nashville,SUPERHOST,/rooms/29543248?check_in=2020-12-17&check_out=...,6 guests · 2 bedrooms · 2 beds · 1 bath,Price:$302 totalShow details,Rating 4.93 out of 5;4.9376 reviews (76)Price:...,2020-12-17,2020-12-20
3,Tiny haven,Price:$54 / night,Entire apartment in Nashville,SUPERHOST,/rooms/20137844?check_in=2020-12-17&check_out=...,4 guests · 2 bedrooms · 4 beds · 1 bath,Price:$259 totalShow details,Rating 4.93 out of 5;4.93193 reviews (193)Pric...,2020-12-17,2020-12-20
4,1 BR Apartment!! Just 2 miles to Downtown!,Previous price:$87Discounted price:$62 / night,Entire apartment in Nashville,NaN,/rooms/44064578?check_in=2020-12-17&check_out=...,4 guests · 1 bedroom · 1 bed · 1 bath,Price:$257 totalShow details,Rating 4.0 out of 5;4.010 reviews (10)Previous...,2020-12-17,2020-12-20

In [627]:
weekends['checkin'] =  pd.to_datetime(weekends['checkin'], format='%Y/%m/%d')
weekends['checkout'] =  pd.to_datetime(weekends['checkout'], format='%Y/%m/%d')
#weekends.head()

,name,nightly cost,category,superhost,url,guests_rental,total cost,reviews,checkin,checkout
0,NC5 The Joint!! Downtown Nashville Studio!,Price:$55 / night,Entire apartment in Nashville,NaN,/rooms/46779266?check_in=2020-12-17&check_out=...,6 guests · Studio · 2 beds · 1 bath,Price:$245 totalShow details,Price:$55 / nightPrice:$245 totalShow details,2020-12-17,2020-12-20
1,"Brand-New Condo, 2 Blocks to Centennial Park",Previous price:$122Discounted price:$58 / night,Entire apartment in Nashville,NaN,/rooms/35440277?check_in=2020-12-17&check_out=...,4 guests · 1 bedroom · 2 beds · 1 bath,Price:$329 totalShow details,Rating 4.64 out of 5;4.6414 reviews (14)Previo...,2020-12-17,2020-12-20
2,DOWNTOWN NASHVILLE - COMFY & COZY (C),Price:$63 / night,Entire apartment in Nashville,SUPERHOST,/rooms/29543248?check_in=2020-12-17&check_out=...,6 guests · 2 bedrooms · 2 beds · 1 bath,Price:$302 totalShow details,Rating 4.93 out of 5;4.9376 reviews (76)Price:...,2020-12-17,2020-12-20
3,Tiny haven,Price:$54 / night,Entire apartment in Nashville,SUPERHOST,/rooms/20137844?check_in=2020-12-17&check_out=...,4 guests · 2 bedrooms · 4 beds · 1 bath,Price:$259 totalShow details,Rating 4.93 out of 5;4.93193 reviews (193)Pric...,2020-12-17,2020-12-20
4,1 BR Apartment!! Just 2 miles to Downtown!,Previous price:$87Discounted price:$62 / night,Entire apartment in Nashville,NaN,/rooms/44064578?check_in=2020-12-17&check_out=...,4 guests · 1 bedroom · 1 bed · 1 bath,Price:$257 totalShow details,Rating 4.0 out of 5;4.010 reviews (10)Previous...,2020-12-17,2020-12-20

### Clean the columns scrubbed from Airbnb's site

#### Create a column for the number of guests

In [628]:
weekends['guests'] = weekends['guests_rental'].str.partition(' · ')[0]
#weekends.head()

In [629]:
weekends['guest_rental2'] = weekends['guests_rental'].str.partition(' · ')[2]
#weekends.head()

#### Create a column for the number of bedrooms

In [630]:
weekends['bedroom'] = weekends['guest_rental2'].str.partition(' · ')[0] 
#weekends.head()

In [631]:
weekends['guest_rental3'] = weekends['guest_rental2'].str.partition(' · ')[2]
#weekends.head()

#### Create a column for the number of beds

In [632]:
weekends['beds'] = weekends['guest_rental3'].str.partition(' · ')[0] 
#weekends.head()

In [633]:
weekends['bath'] = weekends['guest_rental3'].str.partition(' · ')[2]
#weekends.head()

#### Drop original columns that have been cleaned

In [634]:
weekends.drop(columns = ['guests_rental', 'guest_rental2', 'guest_rental3'], axis=1, inplace=True)
#weekends.head()

#### Create columns for the prices associated with each listing

In [635]:
weekends['not_discounted'] = weekends['nightly cost'].str.partition('Previous price:')[0]
#weekends.head()

In [636]:
weekends['test'] = weekends['nightly cost'].str.partition('Previous price:')[2]
#weekends.head()

In [637]:
weekends['discounted'] = weekends['test'].str.partition(':')[0]
#weekends.head()

In [638]:
weekends['discounted'] = weekends['test'].str.partition(':')[2]
#weekends.head()

In [639]:
weekends['previous_price'] = weekends['test'].str.partition(':')[0]
#weekends.head()

In [640]:
weekends.drop(columns=['test', 'nightly cost'], axis=1, inplace=True)
#weekends.head()

In [641]:
weekends['not_discounted'] = weekends['not_discounted'].str.replace('Price:', '') 
weekends['not_discounted'] = weekends['not_discounted'].str.replace(' / night', '')

#weekends.head()

In [642]:
weekends['discounted'] = weekends['discounted'].str.replace(' / night', '')
#weekends.head()

In [643]:
weekends['previous_price'] = weekends['previous_price'].str.replace('Discounted price', '')
#weekends.head()

In [644]:
weekends['current_nightly'] = weekends['not_discounted'] + weekends['discounted']
#weekends.head()

#### Remove redundant words from values in columns with clear descriptions

In [645]:
weekends['guests'] = weekends['guests'].str.replace(' guests', '')
#weekends.head()

In [646]:
weekends['guests'] = weekends['guests'].str.replace(' guest', '')
#weekends.head(25)

In [647]:
weekends['beds'] = weekends['beds'].str.replace(' beds', '')
weekends['beds'] = weekends['beds'].str.replace(' bed', '')
#weekends.head()

In [648]:
weekends['total cost'] = weekends['total cost'].str.replace('Price:', '')
weekends['total cost'] = weekends['total cost'].str.replace('totalShow details', '')
#weekends.head()

#### Create columns for number of reviews and average stars

In [649]:
weekends['review_test'] = weekends['reviews'].str.partition('Rating')[2]
#weekends.head()

In [650]:
weekends['avg_stars'] = weekends['review_test'].str.partition(' out of')[0]
#weekends.head()

In [651]:
weekends['review_count2'] = weekends['review_test'].str.partition('(')[2]
#weekends.head()

In [652]:
weekends['review_count'] = weekends['review_count2'].str.partition(')')[0]
#weekends.head()

In [653]:
weekends.drop(columns = ['review_count2', 'review_test', 'reviews'], axis=1, inplace=True)
#weekends.head()

#### Drop original columns that have been cleaned

In [654]:
weekends = weekends[['name', 'category', 'superhost', 'url', 'avg_stars', 'review_count', 'guests','beds', 'bedroom', 'bath', 'checkin', 'checkout', 'previous_price', 'discounted', 'not_discounted', 'current_nightly', 'total cost']]
weekends.head(2)

,name,category,superhost,url,avg_stars,review_count,guests,beds,bedroom,bath,checkin,checkout,previous_price,discounted,not_discounted,current_nightly,total cost
0,NC5 The Joint!! Downtown Nashville Studio!,Entire apartment in Nashville,NaN,/rooms/46779266?check_in=2020-12-17&check_out=...,,,6,2,Studio,1 bath,2020-12-17,2020-12-20,,,$55,$55,$245
1,"Brand-New Condo, 2 Blocks to Centennial Park",Entire apartment in Nashville,NaN,/rooms/35440277?check_in=2020-12-17&check_out=...,4.64,14,4,2,1 bedroom,1 bath,2020-12-17,2020-12-20,$122,$58,,$58,$329

#### Check data types before performing calculations on prices

In [655]:
weekends.dtypes

name                       object
category                   object
superhost                  object
url                        object
avg_stars                  object
review_count               object
guests                     object
beds                       object
bedroom                    object
bath                       object
checkin            datetime64[ns]
checkout           datetime64[ns]
previous_price             object
discounted                 object
not_discounted             object
current_nightly            object
total cost                 object
dtype: object

#### Remove extraneous characters from price columns and convert to integers

In [656]:
weekends['current_nightly'] = weekends['current_nightly'].astype(str)

weekends['current_nightly'] = weekends['current_nightly'].str.replace('$','')
weekends['current_nightly'] = weekends['current_nightly'].str.replace(',','')
weekends['current_nightly'] = weekends['current_nightly'].str.replace('nan', '0')

weekends['current_nightly'] = weekends['current_nightly'].astype(int)

#weekends.head()

In [657]:
weekends['total cost'] = weekends['total cost'].astype(str)

weekends['total cost'] = weekends['total cost'].str.replace('$','')
weekends['total cost'] = weekends['total cost'].str.replace(',','')
weekends['total cost'] = weekends['total cost'].str.replace(' total','')
weekends['total cost'] = weekends['total cost'].str.replace('nan', '0')

weekends['total cost'] = weekends['total cost'].astype(int)

#weekends.head()

In [658]:
weekends['previous_price'] = weekends['previous_price'].astype(str)

weekends['previous_price'] = weekends['previous_price'].str.replace('$','')
weekends['previous_price'] = weekends['previous_price'].str.replace(',','')
weekends['previous_price'] = weekends['previous_price'].str.replace(' total','')
weekends['previous_price'] = weekends['previous_price'].str.replace('nan', '0')

#weekends.head()

In [659]:
weekends['discounted'] = weekends['discounted'].astype(str)

weekends['discounted'] = weekends['discounted'].str.replace('$','')
weekends['discounted'] = weekends['discounted'].str.replace(',','')
weekends['discounted'] = weekends['discounted'].str.replace(' total','')
weekends['discounted'] = weekends['discounted'].str.replace('nan', '0')

#weekends.head()

In [660]:
weekends['not_discounted'] = weekends['not_discounted'].astype(str)

weekends['not_discounted'] = weekends['not_discounted'].str.replace('$','')
weekends['not_discounted'] = weekends['not_discounted'].str.replace(',','')
weekends['not_discounted'] = weekends['not_discounted'].str.replace(' total','')
weekends['not_discounted'] = weekends['not_discounted'].str.replace('nan', '0')

#weekends.head()

#### Calculate the room fee (nightly rate * # of nights staying) and the additional fees

In [661]:
weekends['room_fee'] = weekends['current_nightly'] * 3 
#weekends.head()

In [662]:
weekends['taxes_fees_cleaning'] = weekends['total cost'] - weekends['room_fee']
#weekends.head()

### Drop empty and duplicate rows

In [663]:
weekends.dropna(subset=['name', 'url'], inplace=True)
weekends.shape

(70678, 19)

In [664]:
weekends.drop_duplicates(subset=['url'], keep='first', inplace=True)
weekends.shape

(70678, 19)

### Save to a csv

In [665]:
weekends.to_csv('data_for_viz/weekends.csv')